{:genesis {:prompt "Gay.jl Deterministic Color Chain"
           :algorithm "SplitMix64 → LCH → Lab → XYZ (D65) → sRGB"
           :seed 0x6761795f636f6c6f
           :seed-name "gay_colo"}
 :battery {:cycle-count 35
           :percent 2
           :health 100}
 :gf3 {:trits [0, 1, 1, -1, 1, 0, 1, 0, 1, -1, 0, -1, 0, 1, 0, -1, 1, 1, 0, 1, -1, 1, 1, 0, 0, -1, -1, 1, -1, 0, 1, 0, 1, 1, -1, 0]
       :sum 0
       :conserved true}
 :mobius {:transported [0, 1, 1, -2, 1, -2, 1, 1, 0, -3, 0, 1, 0, -1, -2, -1, 1, 1, 0, 4, -3, 0, 1, 0, -1, -2, -2, 2, -1, 4, 1, 1, 0, -1, -3, 0]}
 :chain [
    {:cycle 0 :hex "#232100" :trit 0}
    {:cycle 1 :hex "#FFC196" :trit 1}
    {:cycle 2 :hex "#B797F5" :trit 1}
    {:cycle 3 :hex "#00D3FE" :trit -1}
    {:cycle 4 :hex "#F3B4DD" :trit 1}
    {:cycle 5 :hex "#E4D8CA" :trit 0}
    {:cycle 6 :hex "#E6A0FF" :trit 1}
    {:cycle 7 :hex "#A1AB2D" :trit 0}
    {:cycle 8 :hex "#430D00" :trit 1}
    {:cycle 9 :hex "#263330" :trit -1}
    {:cycle 10 :hex "#ACA7A1" :trit 0}
    {:cycle 11 :hex "#004D62" :trit -1}
    {:cycle 12 :hex "#021300" :trit 0}
    {:cycle 13 :hex "#4E3C3C" :trit 1}
    {:cycle 14 :hex "#FFD9A8" :trit 0}
    {:cycle 15 :hex "#3A3D3E" :trit -1}
    {:cycle 16 :hex "#918C8E" :trit 1}
    {:cycle 17 :hex "#AF6535" :trit 1}
    {:cycle 18 :hex "#68A617" :trit 0}
    {:cycle 19 :hex "#750000" :trit 1}
    {:cycle 20 :hex "#00C1FF" :trit -1}
    {:cycle 21 :hex "#ED0070" :trit 1}
    {:cycle 22 :hex "#B84705" :trit 1}
    {:cycle 23 :hex "#00C175" :trit 0}
    {:cycle 24 :hex "#DDFBE3" :trit 0}
    {:cycle 25 :hex "#003B38" :trit -1}
    {:cycle 26 :hex "#42717C" :trit -1}
    {:cycle 27 :hex "#DD407D" :trit 1}
    {:cycle 28 :hex "#8C96CD" :trit -1}
    {:cycle 29 :hex "#CFB45C" :trit 0}
    {:cycle 30 :hex "#7A39B3" :trit 1}
    {:cycle 31 :hex "#636248" :trit 0}
    {:cycle 32 :hex "#AB83E5" :trit 1}
    {:cycle 33 :hex "#FEE5FF" :trit 1}
    {:cycle 34 :hex "#002D79" :trit -1}
    {:cycle 35 :hex "#65947D" :trit 0}]}
