{:devices {}, :snapshots [{:label "baseline", :timestamp "2026-02-08T08:47:06.916557Z", :devices [{:mac "6c:63:f8:20:c0:9f", :ip "192.168.0.1", :alive true, :ports [80 443 8080], :vendor "Ubiquiti Inc", :timestamp #object[java.time.Instant 0x525b2ce "2026-02-08T08:47:09.180556Z"]} {:mac "6a:e4:46:60:45:98", :ip "192.168.0.107", :alive true, :ports [], :vendor "unknown/randomized", :timestamp #object[java.time.Instant 0xe3f14fa "2026-02-08T08:47:09.557183Z"]} {:mac "b6:6e:df:01:d9:f6", :ip "192.168.0.119", :alive true, :ports [], :vendor "unknown/randomized", :timestamp #object[java.time.Instant 0x2fda64a4 "2026-02-08T08:47:13.270615Z"]}]}], :interventions []};; Snapshot 2026-02-08T15:33:01Z
