{:self {:name "2-monad" :ip "100.87.209.11" :port 53317}
 :peers [{:name "causality" :ip "100.69.33.107" :lan "192.168.1.40" 
          :dns "causality.pirate-dragon.ts.net" :port 53317 :trusted true}
         {:name "hatchery" :ip "100.72.249.116" :port 53317}]
 :channels [:tailscale :lan :dns]
 :max-chunk-bytes 7340032
 :voice "Emma (Enhanced)"}
